body {
	background-color: #938a8a;


}


#header {
	background-color: green;
	margin: 0px auto;
	padding: 12px;
	border-radius: 30px 30px 0px 0px;
	text-align: center;
	width: 90%;

}

#header {
	min-height: 30vh;
	width: 90%;
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url(TITLEPIC.jpg);
	background-attachment: local;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	align-items: center;
	justify-content: center;

}

#header-txt {
	font-size: 4vw;
	text-transform: uppercase;
	color: white;
	font-style: oblique;
}

#header-txt:hover {
	color: gold;
	transition: 0.9s;
	font-size: 2.5em;

}

.menu {
	width: 90%;
	float: left;
}

nav {
	text-align: center;
	margin: 0px auto;
	width: 90%;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	position: relative;
}

ul li {
	list-style: none;
	text-align: center;
	float: left;
	/* this will make the menu appear  horizontal line*/
	background-color: black;
	border-radius: 12px;
	font-size: 18px;
	line-height: 30px;
	width: 130px;

	font-weight: 600;
	position: relative
}

ul li a {
	text-decoration: none;
	color: gold;
	display: block;

}

ul li a:hover {
	background-color: gold;
	color: black;
}

ul li ul li {
	display: none;
	position: relative;
}

ul li:hover ul li {
	display: block;



}

/*
.menu-txt {
	border-radius: none;
	text-transform: uppercase;
	justify-content: space-between;
	font-size: 30px;
	color: #171916;
	background-color: yellow;
	font-style: italic;
}
*/

#search {
	background-color: black;
	padding: 8px;
	border-radius: 9px;
}

#search-btn {
	font-size: 20px;
	color: white;
	border: 3px solid white;
	background-color: transparent;
	border-radius: 10px;

}

#search-btn:hover {
	display: inline-block;
	background-color: gold;
	color: black;
	font-weight: 800;
	border: 2px solid green;
	cursor: pointer;
}

#search-txt {
	background-color: beige;
	border-radius: 9px;
	padding: 5px;
	color: black;
	font-weight: bolder;
	line-height: 10px;
}

.container {
	width: 90%;
	background-color: yellow;
	text-align: center;
	margin: 0px auto;
	justify-content: center;

}

.events {
	background-color: lime;
	width: 30%;
	border-radius: 20px;
	padding: 0px 0px;
	text-align: center;
	margin-left: 0px auto;
	float: left;
	clear: both;
	display: block;
}

#events {
	background: black;
	color: white;
	border-radius: 20px 20px 0px 0px;
	box-shadow: #666 0px 1px 2px;
	font-size: 3vw;
	text-align: center;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
	font-weight: bold;
	border: 1px solid #ccc;
	margin: 0px auto;



}

.slider {
	background-color: black;
	border-radius: 30px;
	padding: 23px;
	float: left;
	width: 60%;
	display: block;
	margin-left: 10px;
}

#chicken {
	background-image: url(images%20(1).jpg);
	background-repeat: repeat;
}

#goat {
	background-image: url(images/images%20(10).jpg);
}

footer {
	background-color: gainsboro;
	color: white;
	width: 90%;
	border-radius: 0px 0px 30px 30px;
	text-align: center;
	padding: 10px;
	margin-top: 10px;
}


/*......................--smaller screen--...........*/

@media screen and (min-width 500px) {
	.menu ul {
		display: flex;
		flex-wrap: wrap;
		align-items: baseline;
		justify-content: space-between;
	}
	.menu ul li {
		flex: 1 0 auto;
	}
	.menu-txt {
		display: none;
		text-align: center;
	}
	.downarrow {
		display: none;
	}
}
